@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
}

#root {
  width: 100%;
}

body {
  width: 100%;
  background: linear-gradient(90deg, rgba(20,20,22,1) 0%, rgba(23,23,23,1) 20%, rgba(23,23,23,1) 80%, rgba(20,20,22,1) 100%);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
